.item {
  margin: 0 20px;
  padding: 5px;
  will-change: transform;
  transition-timing-function: ease-in-out;
}

#text {
  font-size: 1.5em;
}

#author {
  text-align: right;
}

#text::before {
  content: "❝ ";
}
