html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-right: auto;
}
